.marker {
    width: 36px;
    height: 36px;
}

.user-marker {
    background-image: url('../assets/icons/navigation.svg');
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

#map {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.mapboxgl-ctrl-bottom-left {
    display: none;
}

.next-waypoint {
    border-radius: 100%;
    animation: highlight 2s infinite;
}

@keyframes highlight {
    0% { box-shadow: 0px 0px 0px 0px rgba(0,118,215,0.7); }
    50% { box-shadow: 0px 0px 10px 3px rgba(0,118,215,0.7); }
    100% { box-shadow: 0px 0px 0px 0px rgba(0,118,215,0.7); }
}